<main>
  <h1>{{ title }}</h1>
  <section>
    <p>Protect your users from re-using a password known to be hacked with this simple Angular directive. With this directive, you can easily create a password form like the one below this paragraph in your application. Just try entering <strong>123456</strong> to see what happens, if a user tries to enter an insecure password. <em>Your password never leaves the browser memory and is not transmitted over the network.</em></p>
  </section>
  <section>
    <h2>Example</h2>
    <app-example></app-example>
  </section>
  <section>
    <h2>Source Code</h2>
    <p>
      The source code is published at <a href="https://git.akehir.com/akehir/password-checker">akehir.com</a> and mirrored on <a href="https://github.com/akehir/angular-password-checker">Github</a>.
    </p>
    <p>The package ist published to npm at <a href="https://www.npmjs.com/package/@triangular/password-checker">@triangular/password-checker</a>.</p>
  </section>
  <section>
    <h2>License</h2>
    <p>This project is licensed under the MIT License</p>
  </section>
</main>
